<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>BridgingIT GmbH</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class="container" ng-cloak="">

    <div ng-controller="ColorPickerCtrl as ctrl">
        <ul>
            <li><input type="range" ng-model="ctrl.r" min="0" max="255"/></li>
            <li><input type="range" ng-model="ctrl.g" min="0" max="255"/></li>
            <li><input type="range" ng-model="ctrl.b" min="0" max="255"/></li>
        </ul>
        <p style="background-color: rgb({{ ctrl.r }}, {{ ctrl.g }}, {{ ctrl.b }});">
            {{ ctrl.r }} {{ ctrl.g }} {{ ctrl.b }}
        </p>
    </div>

    <div ng-controller="ColorPickerCtrl as ctrl">
        <ul>
            <li><input type="range" ng-model="r" min="0" max="255"/></li>
            <li><input type="range" ng-model="g" min="0" max="255"/></li>
            <li><input type="range" ng-model="b" min="0" max="255"/></li>
        </ul>
        <p style="background-color: rgb({{ r }}, {{ g }}, {{ b }});">
            {{ r }} {{ g }} {{ b }}
        </p>
    </div>

    <bit-color-picker r="255" g="127" b="0">

    </bit-color-picker>

    <bit-color-picker r="0" g="255" b="0">

    </bit-color-picker>

</div>
<!-- 3rd-Party Libs -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- Application Files -->
<script src="scripts/app.js"></script>
</body>
</html>