<h1>A book</h1>
<form name="bookEditForm" ng-submit="edit.updateBook(edit.book)">
    <div>
        <input name="author" type="text" class="form-control" ng-model="edit.book.author" required/>
    </div>
    <div>
        <input type="text" class="form-control" ng-model="edit.book.title" required/>
    </div>
    <div>
        <input type="text" class="form-control" ng-model="edit.book.isbn" required/>
    </div>
    <div>
        <input type="text" class="form-control" ng-model="edit.book.subtitle"/>
    </div>
    <div>
        <input type="number" class="form-control" ng-model="edit.book.numPages" min="1"/>
    </div>
    <div>
        <textarea class="form-control" id="" cols="30" rows="10" ng-model="edit.book.abstract"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="bookEditForm.$invalid">
        Save
    </button>
</form>
<bit-book-preview book="edit.book" maxchars="200" on-rate-book="edit.showRating(rating)" bit-foo ng-mouseover="">
    <h1>Cool Book</h1>
</bit-book-preview>
<div bit-book-preview book="edit.book" ng-if="false">

</div>